form {
  max-width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: #111;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form h2 {
  color: white;
  text-align: center;
}

form input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

form button {
  padding: 12px;
  background: #00ff88;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  opacity: 0.8;
}
